{% extends "homepage.html" %}

    {% block titulo %}
        Criar Conta - FAKE pinterest
    {% endblock %}

{% block formulario %}
<form method="POST">
    {{ form.csrf_token }}
        {{ form.email.label }}
        {{ form.email() }}
    <p></p>
        {{ form.username.label }}
        {{ form.username() }}
    <p></p>
        {{ form.senha.label }}
        {{ form.senha() }}
    <p></p>
        {{ form.confirmacao_senha.label }}
        {{ form.confirmacao_senha() }}
    <p></p>
        {{ form.botao_confirmacao() }}


</form>
<a href="{{ url_for('homepage') }}">Já Possui uma conta. Faça Login</a>
{% endblock %}